.about-wrapper {
  @include media(desktop) {
  }
}

.about-section {
  padding-top: 80px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 160px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 60px;
  }
}

.about-text-wrapper {
  margin-bottom: 40px;

  @include media(desktop) {
    width: 100%;
    max-width: 380px;
    margin: 0;
  }
}

.about-subtitle {
  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #7a7a7a;

  @include media(desktop) {
  }
}

.about-img-wrapper {
  min-height: 480px;

  @include media(desktop) {
    width: 100%;
    max-width: 808px;
    min-height: 375px;
    position: relative;
  }
}

.about-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin-left: 0;
  }
}

.about-list {
  background: #1b3c53;
  padding: 40px 20px;
  border-radius: 4px;
  width: 100%;
  max-width: 316px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -30px;

  @include media(desktop) {
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
  }
}

.about-list-item {
  display: flex;
  align-items: center;
  gap: 14px;

  @include media(desktop) {
  }
}

.about-list-item-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
  }
}
