.advantages-wrapper {
  @include media(desktop) {
  }
}

.advantages-section {
  padding-top: 30px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 60px;
    padding-bottom: 160px;
  }
}

.advantages-container {
  @include media(desktop) {
  }
}

.advantages-content-wrapper {
  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 60px;
  }
}

.advantages-text-wrapper {
  margin-bottom: 40px;

  @include media(desktop) {
    width: 100%;
    max-width: 380px;
    margin: 0;
  }
}

.advantages-title {
  @include media(desktop) {
  }
}

.advantages-subtitle {
  @include media(desktop) {
  }
}

.advantages-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #7a7a7a;

  @include media(desktop) {
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    width: 100%;
    max-width: 808px;
  }
}

.advantages-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 343px;
  min-height: 260px;

  &:not(:first-child) {
    padding: 40px;
  }

  &:nth-child(2) {
    background: #f9f3ef;
  }

  &:nth-child(3) {
    background: #f9f3ef;
  }

  &:nth-child(4) {
    background: #1b3c53;

    .advantages-list-item-title {
      color: #fff;
    }

    .advantages-list-item-text {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  @include media(desktop) {
    max-width: 404px;
  }
}

.advantages-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}

.advantages-icon {
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.advantages-list-item-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin-bottom: 8px;

  @include media(desktop) {
  }
}

.advantages-list-item-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #7a7a7a;

  @include media(desktop) {
  }
}
