.blog-section {
  padding-top: 30px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 60px;
    padding-bottom: 160px;
  }
}

.blog-container {
  @include media(desktop) {
  }
}

.blog-title {
  @include media(desktop) {
  }
}

.blog-subtitle {
  @include media(desktop) {
  }
}

.blog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    align-items: start;
    justify-content: center;
  }
}

.blog-list-item {
  width: 100%;
  max-width: 343px;

  @include media(desktop) {
    max-width: 394px;
  }
}

.blog-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.blog-list-item-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #333;
  margin-bottom: 4px;

  @include media(desktop) {
  }
}

.blog-list-item-date {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #7a7a7a;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.blog-read-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #333;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: all 0.3s ease-in-out;

  &:active,
  &:focus {
  }

  @include media(desktop) {
    &:hover {
    }
  }
}

.blog-item-span {
  @include media(desktop) {
  }
}
