.experiences-wrapper {
  @include media(desktop) {
  }
}

.experiences-section {
  padding-top: 30px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 60px;
    padding-bottom: 160px;
  }
}

.experiences-container {
  @include media(desktop) {
  }
}

.experiences-title {
  @include media(desktop) {
  }
}

.experiences-subtitle {
  @include media(desktop) {
  }
}

.experiences-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-wrap: wrap;
    max-height: 692px;
  }
}

.experiences-list-item {
  width: 100%;
  max-width: 343px;

  @include media(desktop) {
    max-width: 394px;
  }
}

.experiences-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

.experiences-list-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #7a7a7a;

  @include media(desktop) {
  }
}
