.policy-section {
  background: #f9f3ef;
  padding-top: 112px;
  padding-bottom: 32px;

  @include media(desktop) {
    padding-top: 136px;
    padding-bottom: 56px;
  }
}

.policy-main-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38462;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 32px;
    line-height: 1.4375;
  }
}

.policy-title {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.33333;
  }
}

.policy-subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #111;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #565656;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  @include media(desktop) {
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #565656;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 32px;
  }

  @include media(desktop) {
  }
}

.policy-span {
  text-decoration: underline;
}

.policy-link {
  text-decoration: underline;
  word-wrap: break-word;
}
