<section class="section about-section" id="about">
  <div class="container about-container">
    <div class="about-content-wrapper">
      <div class="about-text-wrapper">
        <h2 class="section-title about-title">About Venturivo</h2>
        <p class="section-subtitle about-subtitle">
          Why Travel With Venturivo?
        </p>
        <p class="about-text">
          Venturivo was built for curious minds and free spirits. We believe
          that traveling is not only about seeing new places — it’s about
          growing through experience.
        </p>
      </div>
      <div class="about-img-wrapper">
        <picture>
          <source
            srcset="./img/about/about-bg-desk.png"
            media="(min-width: 1440px)"
            width="526"
            height="329" />
          <source
            srcset="./img/about/about-bg-mob.png"
            width="343"
            height="215" />
          <img
            class="about-img"
            src="./img/about/about-bg-mob.png"
            alt="People traveling"
            width="343"
            height="215"
            loading="lazy"
        /></picture>
        <ul class="about-list">
          <li class="about-list-item">
            <svg class="about-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-check-all"></use>
            </svg>
            <p class="about-list-item-text">Learn from cultural exchanges</p>
          </li>
          <li class="about-list-item">
            <svg class="about-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-check-all"></use>
            </svg>
            <p class="about-list-item-text">Find fun, hidden gems worldwide</p>
          </li>
          <li class="about-list-item">
            <svg class="about-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-check-all"></use>
            </svg>
            <p class="about-list-item-text">
              Create friendships beyond borders
            </p>
          </li>
          <li class="about-list-item">
            <svg class="about-icon" width="20" height="20">
              <use href="./img/sprite.svg#icon-check-all"></use>
            </svg>
            <p class="about-list-item-text">
              Experience the joy of discovery every day
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
