<section class="section advantages-section" id="advantages">
  <div class="container advantages-container">
    <div class="advantages-content-wrapper">
      <div class="advantages-text-wrapper">
        <h2 class="section-title advantages-title">
          Why It’s Fun & Eye-Opening
        </h2>
        <p class="section-subtitle advantages-subtitle">
          Because The World Is More Than a Destination
        </p>
        <p class="advantages-text">
          With Venturivo, traveling becomes a playful journey. You’re not just
          booking tickets — you’re joining a global movement of explorers.
        </p>
      </div>
      <ul class="advantages-list">
        <li class="advantages-list-item">
          <picture>
            <source
              srcset="./img/advantages/advantages-img-desk.png"
              media="(min-width: 1440px)"
              width="404"
              height="260" />
            <source
              srcset="./img/advantages/advantages-img-mob.png"
              width="343"
              height="260" />
            <img
              class="advantages-img"
              src="./img/advantages/advantages-img-mob.png"
              alt="People traveling"
              width="343"
              height="260"
              loading="lazy"
          /></picture>
        </li>
        <li class="advantages-list-item">
          <svg class="advantages-icon" width="60" height="60">
            <use href="./img/sprite.svg#icon-smile"></use>
          </svg>
          <h3 class="advantages-list-item-title">Fun</h3>
          <p class="advantages-list-item-text">
            Gamified travel challenges, badges, and surprise itineraries
          </p>
        </li>
        <li class="advantages-list-item">
          <svg class="advantages-icon" width="60" height="60">
            <use href="./img/sprite.svg#icon-vision"></use>
          </svg>
          <h3 class="advantages-list-item-title">Eye-Opening</h3>
          <p class="advantages-list-item-text">
            Learn new languages, meet different cultures, and discover how big
            (and small) the world really is
          </p>
        </li>
        <li class="advantages-list-item">
          <svg class="advantages-icon" width="60" height="60">
            <use href="./img/sprite.svg#icon-travel"></use>
          </svg>
          <h3 class="advantages-list-item-title">Empowering</h3>
          <p class="advantages-list-item-text">
            Traveling with Venturivo means stepping out of your comfort zone and
            into new ways of thinking
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
