<section class="section blog-section" id="blog">
  <div class="container blog-container">
    <h2 class="section-title blog-title">Blog</h2>
    <p class="section-subtitle blog-subtitle">Stories That Inspire</p>
    <ul class="blog-list">
      <li class="blog-list-item">
        <picture>
          <source
            srcset="./img/blog/blog-img1-desk.png"
            media="(min-width: 1440px)"
            width="394"
            height="390" />
          <source
            srcset="./img/blog/blog-img1-mob.png"
            width="343"
            height="390" />
          <img
            class="blog-img"
            src="./img/blog/blog-img1-mob.png"
            alt="People traveling"
            width="343"
            height="390"
            loading="lazy"
        /></picture>
        <p class="blog-list-item-text">
          “How Traveling Changed My Perspective on Life”
        </p>
        <p class="blog-list-item-date">June,15</p>
        <a href="#contact" class="blog-read-link"
          ><span class="blog-item-span">Read More</span>
          <svg class="check-icon" width="16" height="16">
            <use href="./img/sprite.svg#icon-caret"></use></svg
        ></a>
      </li>
      <li class="blog-list-item">
        <picture>
          <source
            srcset="./img/blog/blog-img2-desk.png"
            media="(min-width: 1440px)"
            width="394"
            height="390" />
          <source
            srcset="./img/blog/blog-img2-mob.png"
            width="343"
            height="390" />
          <img
            class="blog-img"
            src="./img/blog/blog-img2-mob.png"
            alt="People traveling"
            width="343"
            height="390"
            loading="lazy"
        /></picture>
        <p class="blog-list-item-text">
          “Top 5 Hidden Villages You’ve Never Heard Of”
        </p>
        <p class="blog-list-item-date">June,15</p>
        <a href="#contact" class="blog-read-link"
          ><span class="blog-item-span">Read More</span>
          <svg class="check-icon" width="16" height="16">
            <use href="./img/sprite.svg#icon-caret"></use></svg
        ></a>
      </li>
      <li class="blog-list-item">
        <picture>
          <source
            srcset="./img/blog/blog-img3-desk.png"
            media="(min-width: 1440px)"
            width="394"
            height="390" />
          <source
            srcset="./img/blog/blog-img3-mob.png"
            width="343"
            height="390" />
          <img
            class="blog-img"
            src="./img/blog/blog-img3-mob.png"
            alt="People traveling"
            width="343"
            height="390"
            loading="lazy"
        /></picture>
        <p class="blog-list-item-text">
          “Why Meeting Strangers Abroad Feels Like Magic”
        </p>
        <p class="blog-list-item-date">June,15</p>
        <a href="#contact" class="blog-read-link"
          ><span class="blog-item-span">Read More</span>
          <svg class="check-icon" width="16" height="16">
            <use href="./img/sprite.svg#icon-caret"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
