<section class="section community-section" id="community">
  <div class="container community-container">
    <div class="community-content-wrapper">
      <h2 class="section-title community-title">Community</h2>
      <p class="section-subtitle community-subtitle">
        Travel Is Better Together
      </p>
      <p class="community-text">
        Venturivo isn’t just about destinations — it’s about people. Our
        platform connects you with travelers and locals who share your passions.
      </p>
      <ul class="community-list">
        <li class="community-list-item">
          <svg class="community-icon" width="52" height="52">
            <use href="./img/sprite.svg#icon-journal"></use>
          </svg>
          <p class="community-list-item-text">Share travel journals & tips</p>
        </li>
        <li class="community-list-item">
          <svg class="community-icon" width="52" height="52">
            <use href="./img/sprite.svg#icon-group"></use>
          </svg>
          <p class="community-list-item-text">Create group adventures</p>
        </li>
        <li class="community-list-item">
          <svg class="community-icon" width="52" height="52">
            <use href="./img/sprite.svg#icon-forum"></use>
          </svg>
          <p class="community-list-item-text">
            Join forums & cultural exchanges
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
