<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <div class="contact-content-wrapper">
      <div class="contact-text-wrapper">
        <h2 class="section-title contact-title">Contact</h2>
        <p class="section-subtitle contact-subtitle">
          Your Next Journey Begins Here
        </p>
      </div>
      <ul class="contact-list">
        <li class="contact-list-item">
          <svg class="contact-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-mail"></use>
          </svg>
          <a href="mailto:info@info@venturivo.space" class="contact-item-link"
            >info@venturivo.space
          </a>
        </li>
        <li class="contact-list-item">
          <svg class="contact-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-map-pin"></use>
          </svg>
          <a href="" class="contact-item-link"
            >Remote-first with travelers across 30+ countries
          </a>
        </li>
      </ul>
      <a href="#home" class="contact-join-link">Join The Community</a>
    </div>
  </div>
</section>
