<section class="section destinations-section" id="destinations">
  <div class="container destinations-container">
    <div class="destinations-content-wrapper">
      <h2 class="section-title destinations-title">Destinations</h2>
      <p class="section-subtitle destinations-subtitle">
        Where Will You Go Next?
      </p>
      <ul class="destinations-list">
        <li class="destinations-list-item">
          <svg class="destinations-icon" width="60" height="60">
            <use href="./img/sprite.svg#icon-guide"></use>
          </svg>
          <p class="destinations-list-item-text">
            Explore curated guides for cities & hidden gems
          </p>
        </li>
        <li class="destinations-list-item">
          <svg class="destinations-icon" width="60" height="60">
            <use href="./img/sprite.svg#icon-mood"></use>
          </svg>
          <p class="destinations-list-item-text">
            Filter by mood: adventure, relaxation, culture, foodie trips
          </p>
        </li>
        <li class="destinations-list-item">
          <svg class="destinations-icon" width="60" height="60">
            <use href="./img/sprite.svg#icon-vr"></use>
          </svg>
          <p class="destinations-list-item-text">
            AR travel previews & virtual tours
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
