<section class="section services-section" id="services">
  <div class="container services-container">
    <div class="services-content-wrapper">
      <h2 class="section-title services-title">Destinations</h2>
      <p class="section-subtitle services-subtitle">Where Will You Go Next?</p>
      <ul class="services-list">
        <li class="services-list-item">
          <svg class="services-icon" width="60" height="60">
            <use href="./img/sprite.svg#icon-guide"></use>
          </svg>
          <p class="services-list-item-text">
            Explore curated guides for cities & hidden gems
          </p>
        </li>
        <li class="services-list-item">
          <svg class="services-icon" width="60" height="60">
            <use href="./img/sprite.svg#icon-mood"></use>
          </svg>
          <p class="services-list-item-text">
            Filter by mood: adventure, relaxation, culture, foodie trips
          </p>
        </li>
        <li class="services-list-item">
          <svg class="services-icon" width="60" height="60">
            <use href="./img/sprite.svg#icon-vr"></use>
          </svg>
          <p class="services-list-item-text">
            AR travel previews & virtual tours
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
