<section class="section experiences-section" id="experiences">
  <div class="container experiences-container">
    <h2 class="section-title experiences-title">Experiences</h2>
    <p class="section-subtitle experiences-subtitle">
      Make Every Trip an Adventure
    </p>
    <ul class="experiences-list">
      <li class="experiences-list-item">
        <picture>
          <source
            srcset="./img/experiences/experiences-img1-desk.png"
            media="(min-width: 1440px)"
            width="394"
            height="390" />
          <source
            srcset="./img/experiences/experiences-img1-mob.png"
            width="343"
            height="390" />
          <img
            class="experiences-img"
            src="./img/experiences/experiences-img1-mob.png"
            alt="People traveling"
            width="343"
            height="390"
            loading="lazy"
        /></picture>
        <p class="experiences-list-item-text">Join local food walks</p>
      </li>
      <li class="experiences-list-item">
        <picture>
          <source
            srcset="./img/experiences/experiences-img2-desk.png"
            media="(min-width: 1440px)"
            width="394"
            height="190" />
          <source
            srcset="./img/experiences/experiences-img2-mob.png"
            width="343"
            height="190" />
          <img
            class="experiences-img"
            src="./img/experiences/experiences-img2-mob.png"
            alt="People traveling"
            width="343"
            height="190"
            loading="lazy"
        /></picture>
        <p class="experiences-list-item-text">
          Take part in outdoor challenges
        </p>
      </li>
      <li class="experiences-list-item">
        <picture>
          <source
            srcset="./img/experiences/experiences-img3-desk.png"
            media="(min-width: 1440px)"
            width="394"
            height="190" />
          <source
            srcset="./img/experiences/experiences-img3-mob.png"
            width="343"
            height="190" />
          <img
            class="experiences-img"
            src="./img/experiences/experiences-img3-mob.png"
            alt="People traveling"
            width="343"
            height="190"
            loading="lazy"
        /></picture>
        <p class="experiences-list-item-text">Experience eco-friendly stays</p>
      </li>
      <li class="experiences-list-item">
        <picture>
          <source
            srcset="./img/experiences/experiences-img4-desk.png"
            media="(min-width: 1440px)"
            width="394"
            height="390" />
          <source
            srcset="./img/experiences/experiences-img4-mob.png"
            width="343"
            height="390" />
          <img
            class="experiences-img"
            src="./img/experiences/experiences-img4-mob.png"
            alt="People traveling"
            width="343"
            height="390"
            loading="lazy"
        /></picture>
        <p class="experiences-list-item-text">Join themed travel groups</p>
      </li>
      <li class="experiences-list-item">
        <picture>
          <source
            srcset="./img/experiences/experiences-img5-desk.png"
            media="(min-width: 1440px)"
            width="394"
            height="390" />
          <source
            srcset="./img/experiences/experiences-img5-mob.png"
            width="343"
            height="390" />
          <img
            class="experiences-img"
            src="./img/experiences/experiences-img5-mob.png"
            alt="People traveling"
            width="343"
            height="390"
            loading="lazy"
        /></picture>
        <p class="experiences-list-item-text">
          Discover hidden cultural festivals
        </p>
      </li>
      <li class="experiences-list-item">
        <picture>
          <source
            srcset="./img/experiences/experiences-img6-desk.png"
            media="(min-width: 1440px)"
            width="394"
            height="190" />
          <source
            srcset="./img/experiences/experiences-img6-mob.png"
            width="343"
            height="190" />
          <img
            class="experiences-img"
            src="./img/experiences/experiences-img6-mob.png"
            alt="People traveling"
            width="343"
            height="190"
            loading="lazy"
        /></picture>
        <p class="experiences-list-item-text">
          Try hands-on workshops with locals
        </p>
      </li>
    </ul>
  </div>
</section>
