<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <h1 class="hero-main-title">
        Travel Beyond Borders.<br />
        Discover More With Venturivo
      </h1>
      <p class="hero-text">
        Venturivo isn’t just a travel platform — it’s a gateway to stories,
        cultures, and adventures that expand your horizons.
      </p>
      <a href="#contact" class="hero-plan-link">Plan Your Next Journey</a>
      <ul class="hero-list">
        <li class="hero-list-item">
          <svg class="hero-icon" width="52" height="52">
            <use href="./img/sprite.svg#icon-location"></use>
          </svg>
          <p class="hero-item-text">Find unique places beyond tourist maps</p>
        </li>
        <li class="hero-list-item">
          <svg class="hero-icon" width="52" height="52">
            <use href="./img/sprite.svg#icon-direction"></use>
          </svg>
          <p class="hero-item-text">
            Join global explorers sharing their journeys
          </p>
        </li>
        <li class="hero-list-item">
          <svg class="hero-icon" width="52" height="52">
            <use href="./img/sprite.svg#icon-path"></use>
          </svg>
          <p class="hero-item-text">
            Create your own adventure paths with our tools
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
