<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">About</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#destinations"
          >Destinations</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#experiences"
          >Experiences</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#community">Community</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#blog">Blog</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
